Flask==2.3.2
Flask-SQLAlchemy==3.0.3
Flask-SocketIO==5.3.4
eventlet==0.33.3
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
youtube_dl==2021.12.17
pytube==15.0.0
SQLAlchemy==2.0.19
gunicorn==20.1.0
yt-dlp
werkzeug
python-socketio
python-engineio